@media (max-width:1200px) 
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover  
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
    

@media (max-width:992px) 
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto 
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px    
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 579px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card      
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 48%
    &__logo
      grid-row:  1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-row: 4
        grid-column: span 5
    &__info-bottom
      grid-column: 1 / 7
    &__links
      grid-column: 1 / 4
    &__payment
      grid-column: 6 / 7

@media (max-width:768px) 
  .container
    // max-width: 576px
    max-width: 700px
    width: 92%    
  .navbar    
    &__search
      width: 50%
  
  // .menu  
  //   &-button
  //     display: flex
  //     width: 16px
  //     height: 11px
  //     padding: 0
  //     align-items: center
  //     justify-content: space-between
  //     flex-direction: column
  //     border: none
  //     background-color: $light
  //     cursor: pointer
  //     &__line
  //       width: 16px
  //       height: 1px
  //       background-color: $text-color
  .stars 
    width: auto
    // width: 100%
    // flex-basis: 25%
  .hotel
    padding-bottom: 0
    margin-bottom: 60px
    &-name
      flex-basis: 100%
    &-wrapper     
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0 
  .booking
    flex-basis: 49%
    height: 210px
  .map
    flex-basis: 49%
    height: 210px
  .newsletter
    // max-width: 699px
    &-wrapper 
      padding: 0 10px 
    &-title
      margin-right: 75px
  .reviews
    &-slider
      &__item
        max-width: 579px
        &::after, &::before
          display: none
      &__text
        max-width: 400px        
  // .activities
  //   // &-wrapper
  //   //   flex-wrap: wrap
  //   &__card      
  //     margin-bottom: 20px
  .activities
  padding: 60px 0 70px 0
  .card
    // max-width: 339px 
    width: 45%
    min-width: 10%
  .footer    
    &__input
      min-width: 20%

// Изменила медиа запрос с 576 на 586, тк на 586 происходим слом booking
@media (max-width:586px) 
  .container
    max-width: 280px
    width: 92% 
  .logo
    width: 99px 
  .navbar    
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      bottom: 0
      right: 0
      top: 78px
      padding-top: 30px        
      &--visible
        display: block
      &-menu
        flex-direction: column
        &__item
          margin-bottom: 20px
          &--mobile
            &_visible
              display: block
     // !!!!РАСКОММЕНТИРОВАТЬ, КОГДА ДОЙДЁМ ДО JS,ДОЛЖНО ПОЯВЛЯТЬСЯ ТОЛЬКО ПРИ НАЖАТИИ НА МЕНЮ-БУРГЕР
  // .hidden-menu
  //   display: flex 
  //   flex-direction: column
  //   align-items: center
  //   padding-top: 31px
  //   padding-bottom: 68px
  // .user
  //   display: flex
  //   flex-direction: column
  //   align-items: center
  //   justify-content: center
  //   &__avatar
  //     margin-bottom: 10px    
  //   &__name      
  //     margin-left: 0
  //     margin-bottom: 27px
  //     color: $light
  // .search
  //   margin-bottom: 39px
  //   max-width: 245px
  //   height: 40px
  // .hidden-list
  //   padding: 0
  //   display: flex
  //   flex-direction: column
  //   align-items: center
  //   &__item
  //     margin-bottom: 20px
  //     list-style-type: none
  //   &__link 
  //     font-size: 12px
  //     line-height: 15px
  //     color: $light    
  //     text-decoration: none
  //     text-transform: uppercase
  // ДЕЛАЕМ ОТСТУП СВЕРХУ, ЧТОБЫ НЕ ИСЧЕЗАЛИ ХЛЕБНЫЕ КРОШКИ
  body
    padding-top: 78px  
  .hotel
    &__slider
      padding-bottom: 0
      margin-bottom: 40px
    &-right
      flex-direction: column
      height: 450px
  .menu  
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      flex-direction: column  
      align-items: flex-start  
      max-width: 280px
      width: 92%
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &-slider
      // height: 661px      
      &__item
        max-width: 381px
        height: 483px
        padding: 0 31px 36px 31px
      &__text
        max-width: 219px
        height: 100%
        // height: 266px
        text-align: left
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -85px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -85px   
    .swiper
      &-wrapper
        height: 483px  
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .activities
    padding-top: 40px
    &__title
      margin-bottom: 36px
  .card
    width: 100%
  //   // width: 280px
  //   // height: 255px
  .footer
    &-wrapper
      grid-template-columns: 1fr      
      grid-row-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-column: 1
        grid-row: 6
      &-form
        grid-row: 7
        grid-column: 1       
    &__input
      min-width: 100%
    &__info-bottom
      grid-row: 8
      grid-column: 1
    &__message
      width: 100%

@media (min-width:320px) and (max-width:480px)   
  .navbar-top
    .navbar__user
      display: none
  .bottom-container
    display: none
  // .hidden-menu  
  //   // !!!!РАСКОММЕНТИРОВАТЬ, КОГДА ДОЙДЁМ ДО JS,ДОЛЖНО ПОЯВЛЯТЬСЯ ТОЛЬКО ПРИ НАЖАТИИ НА МЕНЮ-БУРГЕР
  //   display: flex 
  //   flex-direction: column
  //   align-items: center
  //   padding-top: 31px
  //   padding-bottom: 68px
  // .user
  //   display: flex
  //   flex-direction: column
  //   align-items: center
  //   justify-content: center
  //   &__avatar
  //     margin-bottom: 10px    
  //   &__name      
  //     margin-left: 0
  //     margin-bottom: 27px
  //     color: $light
  // .search
  //   margin-bottom: 39px
  //   max-width: 245px
  //   height: 40px
  // .hidden-list
  //   padding: 0
  //   display: flex
  //   flex-direction: column
  //   align-items: center
  //   &__item
  //     margin-bottom: 20px
  //     list-style-type: none
  //   &__link 
  //     font-size: 12px
  //     line-height: 15px
  //     color: $light    
  //     text-decoration: none
  //     text-transform: uppercase
  .hotel
    margin-bottom: 40px
    &-grid
      display: flex  
      flex-direction: column
      align-items: center
      justify-content: space-between
    .hotel
      &-right
        width: 100%
  .hotel-slider
    min-height: 0 
    &__item
      width: 281px
      height: 179px
    &-container 
      height: 179px
  .booking
    height: 210px
    margin-bottom: 20px
  .map
    height: 173px
  .reviews
    &__title
      max-width: 245px
      margin: auto
      margin-bottom: 42px
  .footer
    &__social
      &-network
        display: flex
        flex-direction: column
        align-items: start
    &__title
      margin-bottom: 20px
    &__categories
      margin-bottom: 10px
    &__contact
      &-details
        max-width: 93%
    // &__contact
    //   &-form
    //     max-width: 100%
    &__form
      display: flex
      flex-direction: column
      align-items: start      
    &__input
      padding: 18px
    // &__message
    //   width: 100%
    &__button
      order: 1
      margin-top: 15px
    &__info-bottom
      display: flex
      flex-direction: column     
      justify-content: space-around
    &__links
      display: flex
      justify-content: space-between
      width: 100%    
      margin-bottom: 10px
    &__payment
      align-self: start
  
    
     
           


